*{
    margin: 0;
    padding: 0;
}
/* обнуление свойств внешнего и внутреннего отступа всех элементов на странице */
body{
    font: italic 20px Georgia, serif;
    letter-spacing: normal;
    background-color: #f0f0f0;
 }
 /* Задает элементам в "body" определенный шрифт, его размер, его тип (в данном случае - с засечками). Далее идет интервал между символами в пределах 
элемента и последняя строка задает цвет заднего фона */
.content{
    width: 750px;
    padding: 40px;
    margin: 0 auto;
    background-color: #fff;
    border-left: 30px solid #1D81B6;
    border-right: 1px solid #ddd;
    box-shadow: 0px 0px 16px #aaa;
}
/* Свойства контейнера (div) с основным содержимым. Построчно:
Ширина элемента
Внутренний отступ 40 px на все 4 стороны
Внешний отступ 0 верх и низ, авто для правого и левого края
Цвет заднего фона
Граница элемента с левой стороны, ширина 30px и заданный цвет позволяют получить синию полосу с левого края
Граница элемента с правой стороны
Добавляет тень к элементу, позволяя получить в данном случае затемненные границы с правого края и внизу.
 */
 .table1{
    font: 16px/1.4em "Trebuchet MS", sans-serif;
 }
/* Тип шрифта в таблице. Жирный "рубленный шрифт" семейства "Trebuchet MS" */
.table1 thead th{
    padding: 15px;
    border: 1px solid #93CE37;
    border-bottom: 3px solid #9ED929;
    text-shadow: 1px 1px 1px #568F23;
    color: #fff;
    background-color: #9DD929;
    border-radius: 5px 5px 0px 0px;
}
/* Стили для таблицы - "шапки" (thead) и ее ячеек (th). По строчно:
Внутренний отступ 15 px на все 4 стороны
Граница элемента
Граница элемента снизу
Добавляет тень к тексту
Цвет текста
Цвет фона
Скругление уголков рамки */
.table1 thead th:empty{
	background-color: transparent;
	border: none;
}
/* Стили для таблицы - "шапки" (thead) и ее ячеек (th) с псевдоклассом 
:empty (представляет пустые элементы, иными словами такие, которые не содержат дочерних элементов)
Цвет фона - прозрачный
Граница элемента (none - не отображает границу и ее толщина (border-width) задается нулевой) */
.table1 tbody th{
    padding: 0px 10px;
    border: 1px solid #93CE37;
    border-right: 3px solid #9ED929;
    text-shadow: 1px 1px 1px #568F23;
    color: #666;
    background-color: #9DD929;
    border-radius: 5px 0px 0px 5px;
}
/* Стили для таблицы - основного контента (tbody) и ее ячеек (th)
По строчно:
Внутренний отступ
Граница элемента
Граница элемента с правого края
Добавляет тень к тексту
Цвет текста
Цвет фона
Скругление уголков рамки */
.table1 tbody .td{
    padding: 10px;
    border: 2px solid #E7EFE0;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    background-color: #DEF3CA;
    border-radius: 2px;
}
/* Стили для таблицы - основного контента (tbody) и ее ячеек c классом .td 
По строчно:
Внутренний отступ
Граница элемента
Горизонтальное выравнивание текста в пределах элемента
Добавляет тень к тексту
Цвет текста
Цвет фона
Скругление уголков рамки */
.mark {
    color: #9CD009;
    text-shadow: 1px 1px 1px #444;
	padding: 10px;
    border: 2px solid #E7EFE0;
    text-align: center;
    background-color: #DEF3CA;
    border-radius: 2px;
	font-size: 32px;
}
/* Стиль основного контента (tbody), а конкретно ячеек в таблице c классом .mark 
По строчно:
Цвет текста
Добавляет тень к тексту
Внутренний отступ
Граница элемента
Горизонтальное выравнивание текста в пределах элемента
Цвет фона
Скругление уголков рамки
Размер шрифта */
.table1 tfoot td{
    padding: 10px 0px;
    font-size: 32px;
    color: #9CD009;
    text-align: center;
    text-shadow: 1px 1px 1px #444;
 }
 /* Стиль для таблицы - "подвала" (tfoot), а конкретно ячеек в таблице (td)
По строчно:
Внутренний отступ
Размер шрифта
Цвет текста
Горизонтальное выравнивание текста в пределах элемента
Добавляет тень к тексту */